.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

button.staffingButton {
    color: whitesmoke;
    border-radius: 10px;
    background: #373a47;
    padding: 5px 10px 5px 10px;
  }

main {
  padding: 20px 10px 10px 70px;
  max-width: auto;
}

.menu-container {
  position: absolute;
  overflow-y: auto;
}

/**/
.member-in-list {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.menu-item-wrapper.active {
  border: 1px blue solid;
}
.member-in-list.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  cursor: pointer;
}
