.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

button.staffingButton {
    color: whitesmoke;
    border-radius: 10px;
    background: #373a47;
    padding: 5px 10px 5px 10px;
  }

main {
  padding: 10px 10px 10px 50px
}

.menu-container {
  position: absolute;
  overflow-y: auto;
}