KMS.Staffing.WebAPI/Bin/
SolutionFiles/Staffing/packages/
KMS.Staffing.Logic/bin/
KMS.Staffing.Logic/obj/
/KMS.Staffing.Contracts/obj/Debug
KMS.Staffing.Core/bin/
KMS.Staffing.Core/obj/
KMS.Staffing.Repository.Test/bin/
KMS.Staffing.Repository.Test/obj/
KMS.Staffing.Repository/bin/
KMS.Staffing.Repository/obj/
SolutionFiles/Staffing/.vs/config/applicationhost.config
SolutionFiles/Staffing/.vs/Staffing/v15/Server/sqlite3/storage.ide-wal
SolutionFiles/Staffing/.vs/Staffing/v15/Server/sqlite3/storage.ide-shm
SolutionFiles/Staffing/.vs/Staffing/v15/Server/sqlite3/storage.ide
KMS.Staffing.WebAPI/Web.config
KMS.Staffing.Repository/App.config
KMS.Staffing.Repository.Test/App.config
