.ph-container {
    position: relative; 
    width: 100%; /* Maximum width */
    height: 300px;
    overflow: hidden;
  }

  .ph-image {
    position: absolute;
    margin: auto; 
    height: auto;
    width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;;
  }
  
  .ph-container .ph-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
  }