img.eia-image {
    display: block;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
}

.eia-image-wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    border-radius: 50%;
    border: 2px solid #14B1E7;
}