.employee-detail-btn-container
.employee-information-container,
.employee-avatar-container {  
  display: grid;
}

.employee-detail-containter {
  display: grid;  
  grid-template-columns: fit-content(40%);
  grid-template-rows: fit-content(40%);
  grid-template-areas: 
    "avatar  btn-container" 
    "avatar  info-container";
}

.employee-detail-btn-container {
    grid-area: btn-container;
}

.employee-detail-btn-container button {
    float: right;
}

.employee-information-container {
    grid-area: info-container;
}
.employee-avatar-container {
    grid-area: avatar;
    padding-right: 20px;
}